* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff);
}

:root {
    --vlom-spinning-logo-width: 100px;
    --vlom-spinning-logo-thickness: 25px;
    --vlom-spinning-logo-red: rgb(204, 51, 56);
    --ff: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(../img/confetti.png);
    background-repeat: repeat;
    background-size: 500px;
}

.vlom-spinning-logo-wrapper {
    position: relative;
    perspective: 600px;
    margin-bottom: 50px;
    margin-top: -100px;
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo {
    position: relative;
    transform-style: preserve-3d;
    animation: vlom-spinning-logo-spin 5s linear infinite;
    width: var(--vlom-spinning-logo-width);
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo > div {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--vlom-spinning-logo-red);
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-front img,
.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-back img {
    width: var(--vlom-spinning-logo-width);
    display: block;
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-left,
.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-right {
    width: var(--vlom-spinning-logo-thickness);
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-top,
.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-bottom {
    height: var(--vlom-spinning-logo-thickness);
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-front {
    transform: translateZ(calc(var(--vlom-spinning-logo-thickness) / 2));
    position: relative;
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-back {
    transform: translateZ(calc(var(--vlom-spinning-logo-thickness) / -2));
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-top {
    transform-origin: 50% 0%;
    transform: translateZ(calc(var(--vlom-spinning-logo-thickness) / 2)) rotateX(-90deg);
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-bottom {
    top: 100%;
    transform-origin: 50% 0%;
    transform: translateZ(calc(var(--vlom-spinning-logo-thickness) / 2)) rotateX(-90deg);
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-left {
    transform-origin: 0% 50%;
    transform: translateZ(calc(var(--vlom-spinning-logo-thickness) / 2)) rotateY(90deg);
}

.vlom-spinning-logo-wrapper .vlom-spinning-logo .vlom-spinning-logo-right {
    left: 100%;
    transform-origin: 0% 50%;
    transform: translateZ(calc(var(--vlom-spinning-logo-thickness) / 2)) rotateY(90deg);
}

@keyframes vlom-spinning-logo-spin {
    from {transform: rotateY(0);}
    to {transform: rotateY(360deg);}
}

.hook {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.hook h1 {
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
    line-height: 4.5rem;
    background-color: #fff;
    padding: 10px 0;
    padding-bottom: 20px;
}

.hook p {
    font-weight: bold;
    text-align: center;
    width: 90%;
    line-height: 1.5rem;
    color: rgb(41, 41, 41);
    background-color: #fff;
}

.back_button {
    width: 150px;
    height: 40px;
    background-color: var(--vlom-spinning-logo-red);
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    display: grid;
    place-content: center;
    font-weight: 500;
    margin-top: 40px;
}